.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    max-width: 1280px;
    height: 80px;
    margin: 0 76px;

}

span.logo-title {
    font-size: 32px;
    font-weight: bold;
    padding-left: 12px;
    vertical-align: middle;
    padding-left: 12px;
}

div.logo-container {
    display: flex;
}

div.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin-left: 24px;
}