.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    max-width: auto;
    height: 80px;
    padding: 0 76px;
    margin-right: 80px;
}

span.logo-title {
    font-size: 32px;
    font-weight: bold;
    padding-left: 12px;
    vertical-align: middle;
}

div.logo-container {
    display: flex;
}

div.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
}